body
{
	background-color: cadetblue;
    background-image: url("adimg.jpg");
}
.box
{
	background-image: url("purple.jpg");
	margin-top: 60px;
	margin-left: 320px;
	height: 550px;
	width:750px;
	padding: 5px 5px 5px 5px;
	border: 2px solid teal;
	box-sizing: border-box;
}
img
{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
h1
{
	color: lightpink;
	letter-spacing: 2.5px;
}
input
{
	padding:8px 12px 8px 12px;
	margin-left: 40px;
}
#input2
{
	margin-top: -4px;
	margin-left: 380px;
	padding:8px 12px 8px 12px;
}
#btn1
{
	float: unset;
	margin-top: 50px;
	margin-left: 430px;
	padding: 18px 40px 18px 35px;
	color: white;
	background-color: teal;
}
#btn2
{
	float: unset;
	margin-top: 30px;
	margin-left: 430px;
	padding: 18px 35px 18px 35px;
	color: white;
	background-color: teal;
}
#btn3
{
	margin-top: 30px;
	margin-left: 430px;
	padding: 18px 45px 18px 40px;
	color: white;
	background-color: teal;
}